{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'trades_strategy_list' %}">Strategy Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>stoploss</td><td>{{ object.stoploss }}</td></tr>
<tr><td>manage_trade</td><td>{{ object.manage_trade }}</td></tr>
<tr><td>pending_order</td><td>{{ object.pending_order }}</td></tr>
<tr><td>break_even</td><td>{{ object.break_even }}</td></tr>
<tr><td>close_half</td><td>{{ object.close_half }}</td></tr>
<tr><td>size_type</td><td>{{ object.size_type }}</td></tr>
<tr><td>size_multiplier</td><td>{{ object.size_multiplier }}</td></tr>
<tr><td>filter_direction</td><td>{{ object.filter_direction }}</td></tr>
<tr><td>filter_ea_number</td><td>{{ object.filter_ea_number }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Strategy</a>
{% endblock %}