name: Docker compose build 

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: copy env file
      run: cp .env-sample .env
    - name: Build the docker-compose stack
      run: docker-compose --verbose up -d
    - name: Check running containers
      run: docker ps
    - name: Check db
      run: docker exec
    - name: Run test suite
      run: docker exec todo_backend pytest
  redeploy:
    name: Redeploy - Webhook call
    runs-on: ubuntu-18.04
    steps:
      - name: Deploy docker container webhook
        uses: joelwmale/webhook-action@master
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOKURL_DEV  }}
          data: "{ 'myField': 'myFieldValue'}"
